/* Write your code here. */
.bg-container {
  background-color: #ffffff;
  background-size: cover;
  height: 100vh;
  padding: 20px;
}
.title {
  font-weight: bold;
}
.thumbnail-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
